body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: hidden;
  color: white;
}

a {
  color: #00B7FF;
}

.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -100;
}

#bodymovin {
  height: 100%;
  overflow: hidden;
}

nav {
  z-index: 100;
  padding-top: 1em;
}

.modal-dialog {
  color: #333 !important;
}
